// app global css in SCSS form
::-webkit-scrollbar {
  width: 8px;
  padding: 2px;
  cursor: pointer !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $dark;
  padding: 2px;
  cursor: pointer !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #424242;
  cursor: pointer !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: pointer !important;
}

.q-page-container {
  min-height: 100vh;
}

// flex/grid gaps
.q-gap-xs {
  gap: 4px;
}

.q-gap-sm {
  gap: 8px;
}

.q-gap-sl {
  gap: 12px;
}

.q-gap-md {
  gap: 16px;
}

.q-gap-lg {
  gap: 24px;
}

.q-gap-xl {
  gap: 32px;
}

.q-gap-xxl {
  gap: 42px;
}

.q-btn {
  text-transform: initial;
}

.q-menu {
  background: $dark-page;
  box-shadow: none;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}
